.product-slider {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15px;
}

.product-slider .swiper-wrapper {
    width: 100%;
    padding: 5px;
}

.product-slider .swiper-button-prev, 
.product-slider .swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
}

.product-slider .swiper-button-prev::after, .product-slider .swiper-button-next::after {
    font-size: 15px;
    color: #121212;
}

.product-slider .product-slider-second .swiper-slide {
    width: 100px;
    height: 115px !important;
}

.product-slider .product-slider-second .swiper-wrapper {
    height: 550px;
}

.button-slider {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.sliderBottom-btn, 
.sliderTop-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.product-slider .swiper-slide.swiper-slide-visible {
    opacity: 50%;
}

.product-slider .swiper-slide.swiper-slide-thumb-active {
    opacity: 100%;
}

@media screen and (max-width: 580px) {
    .product-slider {
        height: calc(300px + (600 - 300) * ((100vw - 320px) / (1200 - 320)));
    }
    .product-slider .swiper-wrapper .swiper-slide img {
        width: calc(215px + (448 - 215) * ((100vw - 320px) / (1200 - 320)));
        height: calc(300px + (560 - 300) * ((100vw - 320px) / (1200 - 320)));
    }

  }