.container-top-bar {
    background: #121212;
    width: 100%;
    margin: 0 auto;
  }
  
  .container-top-bar .top-bar {
    width: 87%;
    height: 24px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: jucontainer-bottom-bar-nav-menustify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .container-top-bar .top-bar .top-bar_contacts, 
  .container-top-bar .top-bar .top-bar_social-networks {
    width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .container-top-bar .top-bar .top-bar_contacts .top-bar-tel img, 
  .container-top-bar .top-bar .top-bar_contacts .top-bar-location img, 
  .container-top-bar .top-bar .top-bar_contacts .top-bar-clock img, 
  .container-top-bar .top-bar .top-bar_social-networks .top-bar-tel img, 
  .container-top-bar .top-bar .top-bar_social-networks .top-bar-location img, 
  .container-top-bar .top-bar .top-bar_social-networks .top-bar-clock img {
    margin: 0 5px;
  }
  
  .container-top-bar .top-bar .top-bar_contacts .top-bar-tel span, 
  .container-top-bar .top-bar .top-bar_contacts .top-bar-location span, 
  .container-top-bar .top-bar .top-bar_contacts .top-bar-clock span, 
  .container-top-bar .top-bar .top-bar_social-networks .top-bar-tel span, 
  .container-top-bar .top-bar .top-bar_social-networks .top-bar-location span, 
  .container-top-bar .top-bar .top-bar_social-networks .top-bar-clock span {
    font-family: 'Spartan';
    font-weight: 500;
    color: #fff;
    font-size: 11px;
  }
  
  @media screen and (max-width: 620px) {
    .container-top-bar .top-bar .top-bar_contacts .top-bar-tel, 
    .container-top-bar .top-bar .top-bar_contacts .top-bar-location, 
    .container-top-bar .top-bar .top-bar_contacts .top-bar-clock, 
    .container-top-bar .top-bar .top-bar_social-networks .top-bar-tel, 
    .container-top-bar .top-bar .top-bar_social-networks .top-bar-location, 
    .container-top-bar .top-bar .top-bar_social-networks .top-bar-clock {
      width: 100%;
      min-width: 190px;
    }
  }
  
  .container-top-bar .top-bar .top-bar_contacts .top-bar-location span, 
  .container-top-bar .top-bar .top-bar_social-networks .top-bar-location span {
    font-family: 'Inter';
    font-weight: 400;
  }
  
  @media screen and (max-width: 500px) {
    .container-top-bar .top-bar .top-bar_contacts {
      width: calc(320px + (480 - 320) * ((100vw - 320px) / (1300 - 320)));
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  
  .container-top-bar .top-bar .top-bar_social-networks {
    width: 86px;
    min-width: 80px;
    margin-left: 30px;
  }
  
  @media screen and (max-width: 350px) {
    .container-top-bar .top-bar .top-bar_social-networks {
      margin-left: calc(0px + (30 - 0) * ((100vw - 320px) / (1300 - 320)));
    }
  }
  
  @media screen and (max-width: 768px) {
    .container-top-bar .top-bar {
      height: calc(100px + (24 - 100) * ((100vw - 320px) / (1300 - 320)));
    }
  }

  .container-bottom-bar {
    width: 100%;
    border-bottom: 2px solid #fafafa;
  }

  .container-bottom-bar .bottom-bar-nav-menu, 
  .container-bottom-bar .burger-menu, 
  .container-bottom-bar .menu-nav {
    width: 87%;
    height: 66px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  } 
  
  .container-bottom-bar .bottom-bar-nav-menu .bottom-bar-nav-logo, 
  .container-bottom-bar .burger-menu .bottom-bar-nav-logo, 
  .container-bottom-bar .menu-nav .bottom-bar-nav-logo {
    font-family: 'Playfair Display SC';
    font-size: 24px;
    text-decoration: none;
    font-weight: 400;
    color: #121212;
  }
  
  .container-bottom-bar .bottom-bar-nav-menu .burger-menu, 
  .container-bottom-bar .burger-menu .burger-menu, 
  .container-bottom-bar .menu-nav .burger-menu {
    width: 53%;
    list-style-type: none;
    padding: 0;
    margin: 10px;
  }
  
  .container-bottom-bar .bottom-bar-nav-menu .burger-menu .menu-item, 
  .container-bottom-bar .burger-menu .burger-menu .menu-item, 
  .container-bottom-bar .menu-nav .burger-menu .menu-item {
    text-decoration: none;
    color: #121212;
    font-family: 'Spartan';
    font-size: 14px;
  }
    /* .menu-nav .count {
    position: absolute;
    top: -3px; 
    right: 80px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #121212;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
  } */
  
  @media screen and (max-width: 940px) {
    .container-bottom-bar .bottom-bar-nav-menu .burger-menu, 
    .container-bottom-bar .burger-menu .burger-menu, 
    .container-bottom-bar .menu-nav .burger-menu {
      position: absolute;
      z-index: 20;
      top: calc(220px + (83 - 220) * ((100vw - 320px) / (940 - 320)));
      left: 0;
      width: 100%;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin: 0;
      padding-left: 20px;
      background: rgba(255, 255, 255, 0.8);
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      -webkit-transition: -webkit-transform 0.9s;
      transition: -webkit-transform 0.9s;
      transition: transform 0.9s;
      transition: transform 0.9s, -webkit-transform 0.9s;
    }
    .container-bottom-bar .bottom-bar-nav-menu .burger-menu .menu-item, 
    .container-bottom-bar .burger-menu .burger-menu .menu-item, 
    .container-bottom-bar .menu-nav .burger-menu .menu-item {
      margin: 25px 0;
      font-size: 16px;
    }
    .container-bottom-bar .bottom-bar-nav-menu .burger-menu.visible, 
    .container-bottom-bar .burger-menu .burger-menu.visible, 
    .container-bottom-bar .menu-nav .burger-menu.visible {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-transition: -webkit-transform 0.9s;
      transition: -webkit-transform 0.9s;
      transition: transform 0.9s;
      transition: transform 0.9s, -webkit-transform 0.9s;
    }
  }
  
  .container-bottom-bar .bottom-bar-nav-menu .menu-nav, 
  .container-bottom-bar .burger-menu .menu-nav, 
  .container-bottom-bar .menu-nav .menu-nav {
    width: 129px;
    margin: 10px;
  }
  
  .container-bottom-bar .bottom-bar-nav-menu .menu-nav .burger-menu-btn, 
  .container-bottom-bar .burger-menu .menu-nav .burger-menu-btn, 
  .container-bottom-bar .menu-nav .menu-nav .burger-menu-btn {
    width: 2rem;
    height: 2rem;
    display: none;
    border: none;
    background: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .container-bottom-bar .bottom-bar-nav-menu .menu-nav .burger-menu-btn span, 
  .container-bottom-bar .burger-menu .menu-nav .burger-menu-btn span, 
  .container-bottom-bar .menu-nav .menu-nav .burger-menu-btn span {
    width: 2.5rem;
    height: 0.25rem;
    background-color: #121212;
    transition: all 0.4s ease-in-out;

    
  }
  
  @media screen and (max-width: 940px) {
    .container-bottom-bar .bottom-bar-nav-menu .menu-nav .burger-menu-btn, 
    .container-bottom-bar .burger-menu .menu-nav .burger-menu-btn, 
    .container-bottom-bar .menu-nav .menu-nav .burger-menu-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
  .container-bottom-bar .bottom-bar-nav-menu .menu-nav .burger-menu-btn.visible span:nth-child(1), 
  .container-bottom-bar .burger-menu .menu-nav .burger-menu-btn.visible span:nth-child(1), 
  .container-bottom-bar .menu-nav .menu-nav .burger-menu-btn.visible span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-8px, 10px);
            transform: rotate(-45deg) translate(-8px, 10px);
  }
  
  .container-bottom-bar .bottom-bar-nav-menu .menu-nav .burger-menu-btn.visible span:nth-child(2), 
  .container-bottom-bar .burger-menu .menu-nav .burger-menu-btn.visible span:nth-child(2), 
  .container-bottom-bar .menu-nav .menu-nav .burger-menu-btn.visible span:nth-child(2) {
    opacity: 0;
  }
  
  .container-bottom-bar .bottom-bar-nav-menu .menu-nav .burger-menu-btn.visible span:nth-child(3), 
  .container-bottom-bar .burger-menu .menu-nav .burger-menu-btn.visible span:nth-child(3), 
  .container-bottom-bar .menu-nav .menu-nav .burger-menu-btn.visible span:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-3px, -6px);
            transform: rotate(45deg) translate(-3px, -6px);
  }
  
  @media screen and (max-width: 940px) {
    .container-bottom-bar .bottom-bar-nav-menu .menu-nav, 
    .container-bottom-bar .burger-menu .menu-nav, 
    .container-bottom-bar .menu-nav .menu-nav {
      width: 220px;
    }
  }
  
  @media screen and (max-width: 940px) {
    .container-bottom-bar .bottom-bar-nav-menu {
      height: calc(120px + (60 - 120) * ((100vw - 320px) / (940 - 320)));
    }
  }
  
  @media screen and (max-width: 450px) {
    .container-bottom-bar .bottom-bar-nav-menu {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  @media screen and (max-width: 940px) {
    /* .container-top-bar .top-bar {
      height: calc(100px + (24 - 100) * ((100vw - 320px) / (940 - 320)));
    } */
    .container-bottom-bar {
      background: #fafafa;
    }
  }

